:root {
  // Evergreen colors
  --colors__gray-900: #101840;
  --colors__gray-800: #474d66;
  --colors__gray-700: #696f8c;
  --colors__gray-600: #8f95b2;
  --colors__gray-500: #c1c4d6;
  --colors__gray-400: #d8dae5;
  --colors__gray-300: #e6e8f0;
  --colors__gray-200: #edeff5;
  --colors__gray-100: #f4f5f9;
  --colors__gray-90: #f4f6fa;
  --colors__gray-75: #f9fafc;
  --colors__gray_50: #fafbff;
  --colors__white: #ffffff;
  --colors__blue-900: #0a1433;
  --colors__blue-800: #142966;
  --colors__blue-700: #1f3d99;
  --colors__blue-600: #2952cc;
  --colors__blue-500: #3366ff;
  --colors__blue-400: #5c85ff;
  --colors__blue-300: #85a3ff;
  --colors__blue-200: #adc2ff;
  --colors__blue-100: #d6e0ff;
  --colors__blue-50: #ebf0ff;
  --colors__blue-25: #f3f6ff;
  --colors__red-700: #7d2828;
  --colors__red-600: #a73636;
  --colors__red-500: #d14343;
  --colors__red-300: #ee9191;
  --colors__red-100: #f9dada;
  --colors__red-25: #fdf4f4;
  --colors__green-900: #10261E;
  --colors__green-800: #214c3c;
  --colors__green-700: #317159;
  --colors__green-600: #429777;
  --colors__green-500: #52bd95;
  --colors__green-400: #75caaa;
  --colors__green-300: #97d7bf;
  --colors__green-200: #bae5d5;
  --colors__green-100: #dcf2ea;
  --colors__green-25: #f5fbf8;
  --colors__orange-700: #996a13;
  --colors__orange-500: #ffb020;
  --colors__orange-100: #f8e3da;
  --colors__orange-25: #fffaf2;
  --colors__purple-600: #6e62b6;
  --colors__purple-100: #e7e4f9;
  --colors__teal-800: #0f5156;
  --colors__teal-100: #d3f5f7;
  --colors__yellow-800: #66e60d;
  --colors__yellow-100: #ffefd2;
  --colors__muted: #696f8c;
  --colors__default: #474d66;
  --colors__dark: #101840;
  --colors__selected: #3366ff;
  --colors__tint1: #fafbff;
  --colors__tint2: #f9fafc;
  --colors__overlay: rgba(67, 90, 111, 0.7);
  --colors__tint-yellow: #ffefd2;
  --colors__tint-green: #f5fbf8;
  --colors__tint-orange: #fffaf2;
  --colors__tint-red: #fdf4f4;
  --colors__tint-blue: #f3f6ff;
  --colors__tint-purple: #e7e4f9;
  --colors__tint-teal: #d3f3f7;
}
